 body {
     background: #d0d8e2;
     ;

 }

 .container__home {
     width: 100%;
     min-height: 140vh;
     background: #d0d8e2;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .principal {
     width: 90%;
     height: auto;
     background: #fff;
     border-radius: 16px;
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .home__principal {
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
 }


 .home__principal--content {
     width: 80%;
     height: 20vh;
     border: 2px solid #d0d8e2;
     background: transparent;
     border-radius: 16px;
     display: flex;
     margin-bottom: 50px;
     margin-top: 30px;
 }

 .content__titulo {
     width: 50%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 30px;
 }

 .content__titulo>h1 {
     font-size: calc(1.3em + 1.3vw);
     color: #0a3576;

 }

 .content__titulo>p {
     font-size: calc(0.8em + 0.8vw);
     color: #7b7e81d4;
 }

 .content__img {
     width: 50%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
 }

 .content__img>img {
     max-width: 30%;
 }

 .home__seccion {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 30px;
 }

 .home__seccion--content {
     width: 80%;
     height: 80%;
     border: 2px solid #d0d8e2;
     background: transparent;
     border-radius: 16px;
     display: flex;
     justify-content: center;
     padding: 10px;
     gap: 20px;
     flex-wrap: wrap;
 }

 @media screen and (max-width:350px) {
    .content__titulo>h1 {
        font-size: calc(1em + 1vw);
   
    }
    .content__titulo>p {
        font-size: calc(0.6em + 0.7vw);
    }
  }
  @media screen and (max-width:300px) {
    .home__seccion--content {
        width: 95%;
        height: 80%; 
    }
    .home__principal--content {
        width: 95%;
         
    }

  }
  @media screen and (max-width:250px) {
    .content__img {
        display: none;
    }
    .content__titulo{
        width: 100%;
     }
  }